<!-- <mat-toolbar class="color">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Users</span>
  <span class="example-spacer"></span>
  <div mat-card-avatar class="example-header-image"></div>

  <mat-icon>favorite</mat-icon>

  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->
<router-outlet></router-outlet>
